@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fontdiner+Swanky&family=Francois+One&family=Mr+Dafoe&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fontdiner+Swanky&family=Francois+One&family=Modern+Antiqua&family=Mr+Dafoe&family=Yeseva+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #113811;
}

.content-padding {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

body {
  color:#113811;
  background-image: url("/portbg.png");
  background-color: #113811;
  background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed;
}

.about-left {
  background-color: #ebdb9a;
  margin: 10px 5px 10px 20px;
  padding-top: 10px;
}

.about-right {
  background-color: #ebdb9a;
  margin: 10px 20px 10px 5px;
}

.type-1 {
  background-image: url("/sparklesbg.png");
  background-size: 100%;
  width: 55%;
  text-align: center;
  border: 3px solid;
  border-color: #ecc627;
  color: #113811;
}
.type-1:hover {
  background-image: none;
  background-color: #ecc627;
  border: 3px solid;
  border-color: #ebdb9a;
}

.type-2 {
  background-image: url("/bubblesbg.png");
  background-size: 98%;
  width: 55%;
  text-align: center;
  border: 3px solid;
  border-color: #ba5059;
  color: black;
}
.type-2:hover {
  background-image: none;
  background-color: #ba5059;
  border: 3px solid;
  border-color: #e3858d;
}

.type-3 {
  background-image: url("/snakebg.png");
  background-size: 90%;
  width: 55%;
  text-align: center;
  border: 3px solid;
  border-color: #113811;
  color: white;
}
.type-3:hover {
  background-image: none;
  background-color: #113811;
  border: 3px solid;
  border-color: #106b09;
}

.all-main {
  border-radius: 6px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-me {
  text-indent: 30px;
}

.sparkle-trail {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ecc627;
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
  pointer-events: none;
  animation: sparkle-fade 1s linear forwards;
}

@keyframes sparkle-fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
